.scoreboard {
  background-color: #ffffff;
  border-radius: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  @media screen and (max-width: 400px) {
    padding: 10px;
  }
}
.scoreboard__clubs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.scoreboard__resultAndTime {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scoreboard__result {
  font-size: 96px;
  font-weight: bold;
  margin-bottom: 10%;
  @media screen and (max-width: 650px) {
    font-size: 32px;
    margin-bottom: 40%;
  }
}
.scoreboard__time {
  font-size: 24px;
  font-weight: bold;
  @media screen and (max-width: 650px) {
    font-size: 16px;
  }
}
.scoreboard__line {
  height: 4px;
  width: 100%;
  background-color: #797979;
  margin: 20px 0;
  border-radius: 2px;
}
.scoreboard__statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.scoreboard__events {
  width: 80%;
  display: flex;
  padding-top: 20px;
}
.scoreboard__eventsTeam1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.scoreboard__eventsTeam2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
